################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/FileContentIndex/c2c82bac-226d-4faa-b166-fc49ca395fc8.vsidx
